.Backdrop {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.Gallery {
    background-color: white;
    position: fixed;
    z-index: 500;
    width: 70%;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px black;
    padding: 16px;
    left: 15%;
    top: 10%;
    bottom: 10%;
    box-sizing: border-box;
    transition: all 0.3s ease-out;    
    display: grid;
    grid-template-rows: .1fr 5fr .1fr;    
    grid-gap: 10px;    
    overflow: hidden;
    max-height: 480px;
    resize: auto;
    box-sizing: border-box;
}

.GalleryBody{
    display: grid;    
    grid-template-columns:4fr 1fr;   
    grid-gap: 10px;        
    max-height: 480px; /*laptop or desktop */
    overflow: auto;
}

.GalleryBody > img {
    width: 90%;
    margin: 0 auto;
}

.GalleryBody > div {
    border: 1px solid #eee;
}

.GallerySlides {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 10px;
}

.GallerySlides > img{
    margin: 5px 0;
    width: 60px;
    height: 60px;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 4px 0px rgba(0,0,0,0.3);
}

.GallerySlides > img:hover{
    cursor: pointer;
}

.Close {
    float: right;
}
.Close:hover {
    cursor: pointer;
}
