.Intro {
    background-color: #EAE7DC;
    margin-top: 56px;   
}

.IntroContent {
    width: 80%;    
    display: flex;    
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    padding: 20px 0;
    text-align: center;
} 

.Intro img {        
    width: 50%;
    height: 50%;
}

.SubTitle {
    font-style: italic;
}

@media (min-width: 600px){
    
    .IntroContent {
        max-width: 750px;
        min-width: 600px;
        flex-flow: row;        
        justify-content: space-between;
        margin: auto;
        padding: 28px 0 10px 0; 
        text-align: left;
        align-items: center;       
    } 
    
    .Intro Img {        
        max-width: 100%;
        height: auto;
        margin: 10px;
    }
}